@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
:root {
  --title: #575757;
  --text: #1b1b1b;
  --hover: #91CBE0;
  --social: #5c5c5c;
  --border: #c5cdd7;
  --img-separator: #e9e9e9;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button, input[type=submit] {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--title);
  padding: 10px 20px;
  border: none;
  background: none;
  border: 1px solid var(--border);
  border-radius: 15px;
  width: 150px;
  margin-bottom: 20px;
  transition: 0.3s;
}

button:hover, input[type=submit]:hover {
  color: var(--hover);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--hover);
  color: #f1f1f1;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  min-height: 100vh;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  text-transform: capitalize;
  font-weight: 300;
  font-size: clamp(2.8rem, 2.5246rem + 1.5738vw, 4rem);
  color: var(--title);
  margin-bottom: 20px;
}

h2 {
  font-weight: 400;
  font-size: clamp(1.4rem, 1.3082rem + 0.5246vw, 1.8rem);
  color: var(--title);
  margin-bottom: 40px;
}

p {
  color: var(--text);
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}

label {
  text-transform: capitalize;
  font-weight: 400;
  color: var(--title);
}

.fa-brands, .fa-regular {
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 50%;
  color: var(--social);
  height: 40px;
  width: 40px;
  transition: 0.3s;
}

.fa-brands:hover, .fa-regular:hover {
  color: var(--hover);
}

/**pour changer la taille d'ine icone "i" utiliser font-size et text-align pour centrer**/
.footer-container i {
  text-align: center;
}

.separator {
  background: var(--border);
  width: 90%;
  height: 1px;
  margin: 0 auto;
}

.top {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.082);
}

.top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
}

.bottom {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.082);
}

input[type=text], textarea {
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 7px;
  font-size: clamp(0.7rem, 0.6082rem + 0.5246vw, 1.1rem);
  width: 100%;
  /*evite que la bordure change de couleur à la sélection*/
  outline: none;
}

input[type=text]:focus, textarea:focus {
  color: var(--hover);
  border: 1px solid var(--hover);
}

textarea {
  resize: none;
}

.text-container {
  padding: 30px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*****HEADER*****/
header {
  display: grid;
  grid-template-columns: 50% 50%;
  /*Le grid évite de mettre des hauteurs dans les div enfants*/
}

header .img {
  background: url(../img/banner.jpg) center/cover;
}

/****SECTION TOP*****/
.top {
  display: grid;
  grid-template-columns: 30% 70%;
}

.top .img {
  background: url(../img/img-left.jpg) center/cover;
}

/*****SECTION BOTTOM****/
.bottom {
  display: grid;
  grid-template-columns: 70% 30%;
}

.bottom .img {
  background: url(../img/img-right.jpg) center/cover;
}

/****FORM*****/
.section-form-container {
  width: 100%;
  max-width: 800px;
  margin: 100px auto 40px;
  text-align: center;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 15vh auto;
  grid-template-areas: "na em" "i1 i2" "me me" "ta ta" "btn btn";
  gap: 10px;
  row-gap: 30px;
  margin: 60px auto;
  width: 90%;
}

.na {
  grid-area: na;
}

.em {
  grid-area: em;
}

.i1 {
  grid-area: i1;
}

.i2 {
  grid-area: i2;
}

.me {
  grid-area: me;
}

textarea {
  grid-area: ta;
}

input[type=submit] {
  margin: 10px auto;
  grid-area: btn;
}

/***FOOTER****/
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  width: 60%;
  gap: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .text-container {
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top, .bottom {
    grid-template-columns: 100%;
  }
  .img :not(header .img) {
    display: none;
  }
  .top-right, .bottom-left {
    padding: 0;
  }
  .footer-container {
    width: 90%;
  }
  .section-form-container {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
